<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>empty page to test out</title>
  </head>
  <body>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo ea rem,
      atque amet dicta dolores perferendis quos reiciendis nam quo provident,
      molestiae maxime, cupiditate possimus ipsa dignissimos veniam quisquam
      impedit dolore? Aliquid mollitia beatae temporibus amet suscipit sunt.
      Quidem autem, non veniam distinctio a explicabo? Ipsum cupiditate officiis
      ad eaque.</p>
    <h1>Empty page after login</h1>
  </body>
</html>