<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome To Online Assesment</title>
    <link rel="stylesheet" href="css/app.css" />

  </head>
  <body>
    <div class="container">
      <a
        href="/login-or-reg-teacher"
        class="button flex-center flex-column"
      ><img src="css/teachers-icon-7.png" alt="" />
        <span>Teacher</span>
      </a>
      <a
        href="/login-or-reg-student"
        class="button flex-center flex-column"
      ><img src="css/student.png" />
        <span>Student</span></a>
    </div>
    <div class="footer">
      <footer>
        <p>Developed By
          <a
            class="linked"
            href="https://www.linkedin.com/in/gajendra-sahu-b24a51227/"
          >Gajendra Sahu</a>,
          <a class="linked" href="mailto: kavyaswarnkar29@gmail.com">Kavya
            Swarnakar</a>,
          <a class="linked" href="mailto: gouravyadavcoc@gmail.com">Gourav Yadav</a>
          And
          <a class="linked" href="mailto: megharathi9082@gmail.com">Megha Rathi</a></p>
      </footer>
    </div>
  </body>
</html>