<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Student !!</title>
    <link rel="stylesheet" href="css/app.css" />

  </head>
  <body>
    <div class="container">
      <div class="heading"><h2>Welcome To Online Assesment Module</h2></div>
      {{! <a href="/create-quiz" class="button flex-center flex-column"><img
          src="css/create-quiz.png"
          alt=""
        />
        <span>Create Quiz</span>
      </a> }}
      <a href="/give-test" class="button flex-center flex-column"><img
          src="css/create-quiz.png"
          alt=""
        />
        Give Test
      </a>
      <a href="/logout-student" class="button flex-center"><img
          src="css/logout.png"
          alt=""
        />
        Logout
      </a>
      <a href="/view-result-student" class="button flex-center flex-column"><img
          src="css/view-report.png"
        />
        <span>View Report</span></a>
    </div>
    <div class="footer">
      <footer>
        <p>Developed By
          <a
            class="linked"
            href="https://www.linkedin.com/in/gajendra-sahu-b24a51227/"
          >Gajendra Sahu</a>,
          <a class="linked" href="mailto: kavyaswarnkar29@gmail.com">Kavya
            Swarnakar</a>,
          <a class="linked" href="mailto: gouravyadavcoc@gmail.com">Gourav Yadav</a>
          And
          <a class="linked" href="mailto: megharathi9082@gmail.com">Megha Rathi</a></p>
      </footer>
    </div>
    <script src="home.js"></script>
  </body>
</html>