<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Student !!</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="home">
      <a href="/" class="homepage-button">
        HOME PAGE<img
          id="homepage-icon"
          src="home.png"
          alt=""
        /></a></a>
    </div>
    <div class="logout">
      <a href="/logout-student" class="logout-button">
        LOGOUT<img
          id="logout-icon"
          src="logout.png"
          alt=""
        /></a>
      </a>
    </div>
    <div class="container">
      <div class="heading"><h2><u>WELCOME TO ONLINE ASSESSMENT MODULE</u></h2></div>
      <a href="/give-test" class="button flex-center flex-column"><img
          src="exam.png"
          alt=""
        />
        <span>GIVE TEST</span>
      </a>
      <a href="/view-result-student" class="button flex-center flex-column"><img
          src="result.png"
        />
        <span>VIEW REPORT CARD</span></a>
    </div>
    <div class="footer">
      <footer>
        <p>Developed By
          <a
            class="linked"
            href="https://www.linkedin.com/in/gajendra-sahu-b24a51227/"
          >Gajendra Sahu</a>,
          <a
            class="linked"
            href="https://www.linkedin.com/in/kavya-swarnkar-a2b55924a/"
          >Kavya Swarnakar</a>,
          <a
            class="linked"
            href="https://www.linkedin.com/in/gourav-yadav-1618b4231/"
          >Gourav Yadav</a>
          <a
            class="linked"
            href="https://www.linkedin.com/in/megha-rathi-b94a34226/"
          >Megha Rathi</a></p>
      </footer>
    </div>
    <script src="home.js"></script>
  </body>
</html>