<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Login/Register</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="home">
      <a href="/" class="homepage-button"><img
          id="homepage-icon"
          src="css/home.png"
          alt=""
        />
        HOME PAGE</a>
    </div>
    <div class="container">
      <a href="/login-teacher" class="button flex-center flex-column"><img
          src="login1.png"
          alt=""
        />
        <span>Login</span>
      </a>
      <a href="/register-teacher" class="button flex-center flex-column"><img
          src="rg.png"
        />
        <span>Register</span></a>
    </div>
    <div class="footer">
      <footer>
        <p>Developed By
          <a
            class="linked"
            href="https://www.linkedin.com/in/gajendra-sahu-b24a51227/"
          >Gajendra Sahu</a>,
          <a class="linked" href="mailto: kavyaswarnkar29@gmail.com">Kavya
            Swarnkar</a>,
          <a class="linked" href="mailto: gouravyadavcoc@gmail.com">Gourav Yadav</a>
          And
          <a class="linked" href="mailto: megharathi9082@gmail.com">Megha Rathi</a></p>
      </footer>
    </div>
    <script src="home.js"></script>
  </body>
</html>