<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>ADD QUESTIONS FOR TEST</title>
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="title">QUESTIONS</div>
      <div class="content">
        <form action="/add-question" method="post">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Question</span>
              <input
                type="text"
                placeholder="Enter Question"
                name="question"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Option 1</span>
              <input
                type="text"
                name="option1"
                placeholder="Option 1"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Option 2</span>
              <input
                type="text"
                name="option2"
                placeholder="Option 2"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Option 3</span>
              <input
                type="text"
                name="option3"
                placeholder="Option 3"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Option 4</span>
              <input
                type="text"
                name="option4"
                placeholder="Option 4"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Correct Option</span>
              <select name="correctOption" id="correctOption">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Add" />
          </div>
          <div class="bk-button">
            <a href="/logged-in-teacher">End</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>