<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title> Student Registration </title>
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="title">REGISTER STUDENT</div>
      <div class="content">
        <form action="/register-student" method="POST">
          <div class="user-details">
            <div class="input-box">
              <span class="details">FULL NAME</span>
              <input
                type="text"
                placeholder="Enter your name"
                name="fullname"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">EMAIL</span>
              <input
                type="email"
                name="email"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">SEMSETER & SECTION</span>
              <select name="sem" id="semSec">
                <option value="3A">3A</option>
                <option value="3B">3B</option>
                <option value="4A">4A</option>
                <option value="4B">4B</option>
                <option value="5A">5A</option>
                <option value="5B">5B</option>
                <option value="6A">6A</option>
                <option value="6B">6B</option>
                <option value="7A">7A</option>
                <option value="7B">7B</option>
                <option value="8A">8A</option>
                <option value="8B">8B</option>
              </select>
            </div>
            <div class="input-box">
              <span class="details">ROLL NUMBER</span>
              <input
                type="number"
                name="rno"
                placeholder="Enter your roll number"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">PASSWORD</span>
              <input
                type="password"
                name="password"
                placeholder="Enter your password"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">CONFIRM PASSWORD</span>
              <input
                type="password"
                name="cpassword"
                placeholder="Confirm your password"
                required
              />
            </div>
            <div class="gender-details">
              <span class="details">GENDER</span>
              <select name="gender" id="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Female">Other</option>
              </select>
            </div>
          </div>
          <div class="button input-box">
            <input type="submit" value="Register" />
          </div>
        </form>
      </div>
    </div>

  </body>
</html>