<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title> Teacher Registration </title>
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="title">Registration</div>
      <div class="content">
        <form action="/register-teacher" method="POST">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Full Name</span>
              <input
                type="text"
                placeholder="Enter your name"
                name="fullname"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Teacher ID</span>
              <input
                type="text"
                placeholder="Enter your Teacher ID"
                name="tid"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Email</span>
              <input
                type="email"
                name="email"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Department</span>
              <select name="dept" id="dept">
                <option value="CSE">CSE</option>
                <option value="MECH">MECH</option>
                <option value="EE">EE</option>
                <option value="EEE">EEE</option>
                <option value="CIVIL">CIVIL</option>
                <option value="ETC">ETC</option>
                <option value="IT">IT</option>
              </select>
            </div>
            <div class="input-box">
              <span class="details">Password</span>
              <input
                type="password"
                name="password"
                placeholder="Enter your password"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Confirm Password</span>
              <input
                type="password"
                name="cpassword"
                placeholder="Confirm your password"
                required
              />
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Register" />
          </div>
        </form>
      </div>
    </div>

  </body>
</html>