<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title> Create Test</title>
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="title">Semester And Section Form</div>
      <div class="content">
        <form action="/create-quiz" method="post">
          <!--** ABHI FORM KA ACTIONA AUR METHOD DEFINED NAI HAI **-->
          <div class="user-details">
            <div class="input-box">
              <span class="details">Semester</span>
              <select name="semester" id="semester">
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
              </select>

            </div>
            <div class="input-box">
              <span class="details">Section</span>
              <select name="section" id="section">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="DS">DS</option>
                <option value="AI">AI</option>
              </select>

            </div>
            <div class="input-box">
              <span class="details">Test Name</span>
              <input
                type="text"
                name="name"
                id="testName"
                placeholder="Input Test Name"
              />
            </div>
          </div>

          <div class="button">
            <input type="submit" value="Continue" />

            {{! <a href="/questionForm">Click here to go to question form</a> }}
          </div>
        </form>
      </div>
    </div>

  </body>
</html>