@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Nerko+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif, cursive;
}

.heading {
  position: absolute;
  top: 90;
  font: 500;
  font-family: 'IBM Plex Sans', sans-serif, cursive;
}

.pt-5 {
  padding: 0;
  margin: 0;
  padding-top: 0;
}

body {
  height: 100%;
  width: 100%;
  max-height: 1000px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url(back7.jpg);
  background-size: cover;
}

.container {
  /* max-width: 700px; */
  width: 100%;
  /* background-color: #fff; */
  padding: 25px 30px;
  background-color: rgb(183, 205, 205);
  border-radius: 3.5%;
  box-shadow: 0 10px 20px rgba(226, 195, 213, 0.15);
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  max-width: 70rem;

  margin: auto;
  padding: 2rem;
  margin-top: 60px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 5rem;
  height: 5rem;
  padding: 0;
  margin: 1rem;
}

.img-login {
  display: block;
  padding: 0;
  margin: 0 auto;
  height: 5rem;
}

.button {
  /* display: inline-block; */
  border-radius: 20px;
  background: linear-gradient(60deg, #2193b0, #439be2);
  color: rgb(9, 9, 9);
  text-decoration: none;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 350px;
  height: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3rem 5rem;
}

.button:hover {
  background-color: #70b7f5;
  color: black;
  transition-duration: 500ms;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.footer {
  color: black;
  text-align: center;
  /* position: absolute; */
  box-sizing: border-box;
  /* bottom: 2; */
  /* left: 0; */
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
}

.linked {
  text-decoration: none;
  color: rgb(41, 40, 40);
}

.linked:hover {
  color: rgb(3, 3, 61);
  font-size: 20px;
  font-style: bold;
  left: 70%;
}

.col-md-5,
.mx-auto {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  width: 70rem;
}

.small-xl {
  padding: 0;
  margin: 0 auto;
  color: red;
  text-decoration: none;
}

table {
  padding-top: 10px;
  padding-bottom: 100px;
}

th {
  font-size: larger;
  color: rgba(13, 13, 13, 0.596);
  border-style: double;
  padding: 3px 30px;
  text-align: center;
}
td {
  border-style: double;
  padding: 2px 30px;
  text-align: center;
}
caption {
  font-size: 50px;
  font-style: bold;
}

.homepage-button {
  /* display: inline-block; */
  border-radius: 15px;
  background-color: #08201f;
  border: 0.4rem solid #2893f1;
  color: rgb(226, 226, 226);
  text-decoration: none;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 15px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 10px;
  position: absolute;
  top: 0;
  right: 90;
  padding: 2px;
  width: 150px;
  height: 40px;
}

.homepage-button:hover {
  background-color: #279aff;
  color: black;
  transition-duration: 500ms;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}
.logout-button {
  /* display: inline-block; */
  border-radius: 15px;
  background-color: #08201f;
  border: 0.4rem solid #2893f1;
  color: rgb(226, 226, 226);
  text-decoration: none;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 15px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 10px;
  position: absolute;
  top: 0;
  right: 250;
  padding: 2px;
  width: 150px;
  height: 40px;
}

.logout-button:hover {
  background-color: #279aff;
  color: black;
  transition-duration: 500ms;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

#back-button {
  position: absolute;
  margin-left: auto;
  top: 80%;
  text-decoration: none;
  align-items: center;
  border: 0.4rem solid #2893f1;
  border-radius: 15px;
  width: 150px;
  height: 40px;
  color: rgb(226, 226, 226);
  background-color: #08201f;
  padding: 3px 20px 5px 20px;
}

#back-button:hover {
  background-color: #279aff;
  color: black;
  transition-duration: 500ms;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}
