@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif, cursive;
}
body {
  height: 60em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25em;
  background: url(back7.jpg);
}
.container {
  max-width: 43.75em;
  width: 100%;
  background-color: rgb(220, 239, 239);
  padding: 1.5625em 1.875em;
  border-radius: 0.3125em;
  box-shadow: 0 0.3125em 0.625em rgba(53, 52, 52, 0.15);
  border: #e597d2;
  min-height: 80vh;
  min-width: 65em;
  margin: 0 auto;
  padding: 0 auto;
  margin-top: 3.125em;
}
.container .title {
  font-size: 1.5625em;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1875em;
  width: 1.875em;
  border-radius: 0.3125em;
  background: linear-gradient(15deg, #b7ddf7, #07669c);
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.3125em 0 0.3125em 0;
}
form .user-details .input-box {
  margin-bottom: 0.625em;
  width: calc(100% / 2 - 1.25em);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 0.3125em;
}
.user-details .input-box input {
  height: 2.8125em;
  width: 100%;
  outline: none;
  font-size: 1em;
  border-radius: 0.3125em;
  padding-left: 0.9375em;
  border: 0.0625em solid #ccc;
  border-bottom-width: 0.125em;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}
form .gender-details .gender-title {
  font-size: 1.25em;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 0.875em 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 1.125em;
  width: 1.125em;
  border-radius: 50%;
  margin-right: 0.625em;
  background: #d9d9d9;
  border: 0.3125em solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}
/* form input[type="radio"] {
  display: none;
} */
form .button {
  height: 2.8125em;
  margin: 2.8125em 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 0.3125em;
  border: none;
  color: #fff;
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 0.0625em;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(60deg, #2193b0, #439be2);
}
form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(60deg, #2193b0, #439be2);
}

.bk-button,
a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 2.5em;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0.3125em;
  transition: all 0.3s ease;
  background: linear-gradient(60deg, #2193b0, #439be2);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.125em;
  font-weight: 600;
  letter-spacing: 0.0625em;
}
.content.question-container {
  width: 100%;
  margin: 2em;
  padding-left: 0.3125em;
  border: #2193b0;
}

select {
  width: 5.5em;
  height: 2.5em;
  font-size: 1em;
}

.question-container {
  margin-bottom: 1.5em;
}

.question-text {
  margin-left: 0.9em;
  font-weight: bolder;
}

.option-container {
  margin-left: 2.65em;
  margin-top: 0.3em;
}

.option-text {
  margin-right: 1.7em;
}

.title {
  margin-bottom: 0.8em;
}
